@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: "Roboto", sans-serif;
}

.user_name{
  background-color: white;
  padding: 8px 25px;
  padding-left: 15px;
  border-radius: 50px;
  display: inline-flex;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.user_name i{
  font-size: 20px;
}

.user_name span{
  font-size: 20px;
  margin-left: 10px;
}

h1 {
  font-size: 50px;
  color: #fff;
  /* text-transform: uppercase; */
  font-weight: 700;
  text-align: center;
  /* margin-left: auto; */
  margin: 15px auto;
  margin-bottom: 10px;
  /* background-color: rgb(2, 45, 49); */
  padding: 5px 20px;
  background-image: linear-gradient(340deg, #0460e9 0%, #c5f909 100%);
  /* text-shadow: 2px 2px #ff0000; */
  font-family: 'Times New Roman', Times, serif;
  border-radius: 50px;
  width: fit-content;
}
  
.btn-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-color: transparent; */
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  /* font-size: 1rem; */
  font-weight: 400;
  line-height: 1;
  margin: 10px 20px;
  padding: 1.2em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
  background: rgb(15, 194, 9);
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}



.form-control {
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  margin: 5px auto;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 40px auto;
}

tr:nth-of-type(odd) {
  background: #eee;
}

tr:nth-of-type(even) {
  background: #fff;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) { 

  table {
    width: 100%;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}